body {
    font-family: arial, sans-serif;
  }
  h1 {
    color:black;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    color: black;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-decoration: none;

  }
  li:first-letter {
    text-transform: capitalize;
    
  }
  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  }
  
  .weather-app {
    padding: 20px;
    margin-bottom: 0px;
   
   
  }
  .overview {
    padding-bottom: 15px;
  }
  
  .weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
  }
  
  .weather-temperature strong {
    color: black;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
  }
  .weather-temperature.units {
    position: relative;
    font-size: 16px;
    top: -32px;
  }
  
  div.img{
  background-image: url(../images/photo-102.jpg);
  border-radius: 5px;
  height: 25vh;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  list-style: none;
  margin: 30px auto;
  padding: 30px;
  width: 30%;
  list-style: none;
  border-radius: 10px;
  }
  a{
    text-decoration: none !important;
  }
  .weather-temperature .active {
    text-decoration: none;
  }
  .weather-temperature .active{
    color: black;
    cursor: default;
  }